@font-face {
  font-weight: 500;
  font-family: 'heroicons-solid';
  src: url('heroicons-solid.woff2') format('woff2');
  font-display: swap;
}

[class*='dashicons-heroicons\/'] {
  font-weight: normal;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'heroicons-solid' !important;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: never;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashicons-heroicons\/academic-cap:before {
  content: '\e900';
}
.dashicons-heroicons\/adjustments-horizontal:before {
  content: '\e901';
}
.dashicons-heroicons\/adjustments-vertical:before {
  content: '\e902';
}
.dashicons-heroicons\/archive-box-arrow-down:before {
  content: '\e903';
}
.dashicons-heroicons\/archive-box-x-mark:before {
  content: '\e904';
}
.dashicons-heroicons\/archive-box:before {
  content: '\e905';
}
.dashicons-heroicons\/arrow-down-circle:before {
  content: '\e906';
}
.dashicons-heroicons\/arrow-down-left:before {
  content: '\e907';
}
.dashicons-heroicons\/arrow-down-on-square-stack:before {
  content: '\e908';
}
.dashicons-heroicons\/arrow-down-on-square:before {
  content: '\e909';
}
.dashicons-heroicons\/arrow-down-right:before {
  content: '\e90a';
}
.dashicons-heroicons\/arrow-down-tray:before {
  content: '\e90b';
}
.dashicons-heroicons\/arrow-down:before {
  content: '\e90c';
}
.dashicons-heroicons\/arrow-left-circle:before {
  content: '\e90d';
}
.dashicons-heroicons\/arrow-left-end-on-rectangle:before {
  content: '\e90e';
}
.dashicons-heroicons\/arrow-left-on-rectangle:before {
  content: '\e90f';
}
.dashicons-heroicons\/arrow-left-start-on-rectangle:before {
  content: '\e910';
}
.dashicons-heroicons\/arrow-left:before {
  content: '\e911';
}
.dashicons-heroicons\/arrow-long-down:before {
  content: '\e912';
}
.dashicons-heroicons\/arrow-long-left:before {
  content: '\e913';
}
.dashicons-heroicons\/arrow-long-right:before {
  content: '\e914';
}
.dashicons-heroicons\/arrow-long-up:before {
  content: '\e915';
}
.dashicons-heroicons\/arrow-path-rounded-square:before {
  content: '\e916';
}
.dashicons-heroicons\/arrow-path:before {
  content: '\e917';
}
.dashicons-heroicons\/arrow-right-circle:before {
  content: '\e918';
}
.dashicons-heroicons\/arrow-right-end-on-rectangle:before {
  content: '\e919';
}
.dashicons-heroicons\/arrow-right-on-rectangle:before {
  content: '\e91a';
}
.dashicons-heroicons\/arrow-right-start-on-rectangle:before {
  content: '\e91b';
}
.dashicons-heroicons\/arrow-right:before {
  content: '\e91c';
}
.dashicons-heroicons\/arrow-small-down:before {
  content: '\e91d';
}
.dashicons-heroicons\/arrow-small-left:before {
  content: '\e91e';
}
.dashicons-heroicons\/arrow-small-right:before {
  content: '\e91f';
}
.dashicons-heroicons\/arrow-small-up:before {
  content: '\e920';
}
.dashicons-heroicons\/arrow-top-right-on-square:before {
  content: '\e921';
}
.dashicons-heroicons\/arrow-trending-down:before {
  content: '\e922';
}
.dashicons-heroicons\/arrow-trending-up:before {
  content: '\e923';
}
.dashicons-heroicons\/arrow-up-circle:before {
  content: '\e924';
}
.dashicons-heroicons\/arrow-up-left:before {
  content: '\e925';
}
.dashicons-heroicons\/arrow-up-on-square-stack:before {
  content: '\e926';
}
.dashicons-heroicons\/arrow-up-on-square:before {
  content: '\e927';
}
.dashicons-heroicons\/arrow-up-right:before {
  content: '\e928';
}
.dashicons-heroicons\/arrow-up-tray:before {
  content: '\e929';
}
.dashicons-heroicons\/arrow-up:before {
  content: '\e92a';
}
.dashicons-heroicons\/arrow-uturn-down:before {
  content: '\e92b';
}
.dashicons-heroicons\/arrow-uturn-left:before {
  content: '\e92c';
}
.dashicons-heroicons\/arrow-uturn-right:before {
  content: '\e92d';
}
.dashicons-heroicons\/arrow-uturn-up:before {
  content: '\e92e';
}
.dashicons-heroicons\/arrows-pointing-in:before {
  content: '\e92f';
}
.dashicons-heroicons\/arrows-pointing-out:before {
  content: '\e930';
}
.dashicons-heroicons\/arrows-right-left:before {
  content: '\e931';
}
.dashicons-heroicons\/arrows-up-down:before {
  content: '\e932';
}
.dashicons-heroicons\/at-symbol:before {
  content: '\e933';
}
.dashicons-heroicons\/backspace:before {
  content: '\e934';
}
.dashicons-heroicons\/backward:before {
  content: '\e935';
}
.dashicons-heroicons\/banknotes:before {
  content: '\e936';
}
.dashicons-heroicons\/bars-2:before {
  content: '\e937';
}
.dashicons-heroicons\/bars-3-bottom-left:before {
  content: '\e938';
}
.dashicons-heroicons\/bars-3-bottom-right:before {
  content: '\e939';
}
.dashicons-heroicons\/bars-3-center-left:before {
  content: '\e93a';
}
.dashicons-heroicons\/bars-3:before {
  content: '\e93b';
}
.dashicons-heroicons\/bars-4:before {
  content: '\e93c';
}
.dashicons-heroicons\/bars-arrow-down:before {
  content: '\e93d';
}
.dashicons-heroicons\/bars-arrow-up:before {
  content: '\e93e';
}
.dashicons-heroicons\/battery-0:before {
  content: '\e93f';
}
.dashicons-heroicons\/battery-50:before {
  content: '\e940';
}
.dashicons-heroicons\/battery-100:before {
  content: '\e941';
}
.dashicons-heroicons\/beaker:before {
  content: '\e942';
}
.dashicons-heroicons\/bell-alert:before {
  content: '\e943';
}
.dashicons-heroicons\/bell-slash:before {
  content: '\e944';
}
.dashicons-heroicons\/bell-snooze:before {
  content: '\e945';
}
.dashicons-heroicons\/bell:before {
  content: '\e946';
}
.dashicons-heroicons\/bolt-slash:before {
  content: '\e947';
}
.dashicons-heroicons\/bolt:before {
  content: '\e948';
}
.dashicons-heroicons\/book-open:before {
  content: '\e949';
}
.dashicons-heroicons\/bookmark-slash:before {
  content: '\e94a';
}
.dashicons-heroicons\/bookmark-square:before {
  content: '\e94b';
}
.dashicons-heroicons\/bookmark:before {
  content: '\e94c';
}
.dashicons-heroicons\/briefcase:before {
  content: '\e94d';
}
.dashicons-heroicons\/bug-ant:before {
  content: '\e94e';
}
.dashicons-heroicons\/building-library:before {
  content: '\e94f';
}
.dashicons-heroicons\/building-office-2:before {
  content: '\e950';
}
.dashicons-heroicons\/building-office:before {
  content: '\e951';
}
.dashicons-heroicons\/building-storefront:before {
  content: '\e952';
}
.dashicons-heroicons\/cake:before {
  content: '\e953';
}
.dashicons-heroicons\/calculator:before {
  content: '\e954';
}
.dashicons-heroicons\/calendar-days:before {
  content: '\e955';
}
.dashicons-heroicons\/calendar:before {
  content: '\e956';
}
.dashicons-heroicons\/camera:before {
  content: '\e957';
}
.dashicons-heroicons\/chart-bar-square:before {
  content: '\e958';
}
.dashicons-heroicons\/chart-bar:before {
  content: '\e959';
}
.dashicons-heroicons\/chart-pie:before {
  content: '\e95a';
}
.dashicons-heroicons\/chat-bubble-bottom-center-text:before {
  content: '\e95b';
}
.dashicons-heroicons\/chat-bubble-bottom-center:before {
  content: '\e95c';
}
.dashicons-heroicons\/chat-bubble-left-ellipsis:before {
  content: '\e95d';
}
.dashicons-heroicons\/chat-bubble-left-right:before {
  content: '\e95e';
}
.dashicons-heroicons\/chat-bubble-left:before {
  content: '\e95f';
}
.dashicons-heroicons\/chat-bubble-oval-left-ellipsis:before {
  content: '\e960';
}
.dashicons-heroicons\/chat-bubble-oval-left:before {
  content: '\e961';
}
.dashicons-heroicons\/check-badge:before {
  content: '\e962';
}
.dashicons-heroicons\/check-circle:before {
  content: '\e963';
}
.dashicons-heroicons\/check:before {
  content: '\e964';
}
.dashicons-heroicons\/chevron-double-down:before {
  content: '\e965';
}
.dashicons-heroicons\/chevron-double-left:before {
  content: '\e966';
}
.dashicons-heroicons\/chevron-double-right:before {
  content: '\e967';
}
.dashicons-heroicons\/chevron-double-up:before {
  content: '\e968';
}
.dashicons-heroicons\/chevron-down:before {
  content: '\e969';
}
.dashicons-heroicons\/chevron-left:before {
  content: '\e96a';
}
.dashicons-heroicons\/chevron-right:before {
  content: '\e96b';
}
.dashicons-heroicons\/chevron-up-down:before {
  content: '\e96c';
}
.dashicons-heroicons\/chevron-up:before {
  content: '\e96d';
}
.dashicons-heroicons\/circle-stack:before {
  content: '\e96e';
}
.dashicons-heroicons\/clipboard-document-check:before {
  content: '\e96f';
}
.dashicons-heroicons\/clipboard-document-list:before {
  content: '\e970';
}
.dashicons-heroicons\/clipboard-document:before {
  content: '\e971';
}
.dashicons-heroicons\/clipboard:before {
  content: '\e972';
}
.dashicons-heroicons\/clock:before {
  content: '\e973';
}
.dashicons-heroicons\/cloud-arrow-down:before {
  content: '\e974';
}
.dashicons-heroicons\/cloud-arrow-up:before {
  content: '\e975';
}
.dashicons-heroicons\/cloud:before {
  content: '\e976';
}
.dashicons-heroicons\/code-bracket-square:before {
  content: '\e977';
}
.dashicons-heroicons\/code-bracket:before {
  content: '\e978';
}
.dashicons-heroicons\/cog-6-tooth:before {
  content: '\e979';
}
.dashicons-heroicons\/cog-8-tooth:before {
  content: '\e97a';
}
.dashicons-heroicons\/cog:before {
  content: '\e97b';
}
.dashicons-heroicons\/command-line:before {
  content: '\e97c';
}
.dashicons-heroicons\/computer-desktop:before {
  content: '\e97d';
}
.dashicons-heroicons\/cpu-chip:before {
  content: '\e97e';
}
.dashicons-heroicons\/credit-card:before {
  content: '\e97f';
}
.dashicons-heroicons\/cube-transparent:before {
  content: '\e980';
}
.dashicons-heroicons\/cube:before {
  content: '\e981';
}
.dashicons-heroicons\/currency-bangladeshi:before {
  content: '\e982';
}
.dashicons-heroicons\/currency-dollar:before {
  content: '\e983';
}
.dashicons-heroicons\/currency-euro:before {
  content: '\e984';
}
.dashicons-heroicons\/currency-pound:before {
  content: '\e985';
}
.dashicons-heroicons\/currency-rupee:before {
  content: '\e986';
}
.dashicons-heroicons\/currency-yen:before {
  content: '\e987';
}
.dashicons-heroicons\/cursor-arrow-rays:before {
  content: '\e988';
}
.dashicons-heroicons\/cursor-arrow-ripple:before {
  content: '\e989';
}
.dashicons-heroicons\/device-phone-mobile:before {
  content: '\e98a';
}
.dashicons-heroicons\/device-tablet:before {
  content: '\e98b';
}
.dashicons-heroicons\/document-arrow-down:before {
  content: '\e98c';
}
.dashicons-heroicons\/document-arrow-up:before {
  content: '\e98d';
}
.dashicons-heroicons\/document-chart-bar:before {
  content: '\e98e';
}
.dashicons-heroicons\/document-check:before {
  content: '\e98f';
}
.dashicons-heroicons\/document-duplicate:before {
  content: '\e990';
}
.dashicons-heroicons\/document-magnifying-glass:before {
  content: '\e991';
}
.dashicons-heroicons\/document-minus:before {
  content: '\e992';
}
.dashicons-heroicons\/document-plus:before {
  content: '\e993';
}
.dashicons-heroicons\/document-text:before {
  content: '\e994';
}
.dashicons-heroicons\/document:before {
  content: '\e995';
}
.dashicons-heroicons\/ellipsis-horizontal-circle:before {
  content: '\e996';
}
.dashicons-heroicons\/ellipsis-horizontal:before {
  content: '\e997';
}
.dashicons-heroicons\/ellipsis-vertical:before {
  content: '\e998';
}
.dashicons-heroicons\/envelope-open:before {
  content: '\e999';
}
.dashicons-heroicons\/envelope:before {
  content: '\e99a';
}
.dashicons-heroicons\/exclamation-circle:before {
  content: '\e99b';
}
.dashicons-heroicons\/exclamation-triangle:before {
  content: '\e99c';
}
.dashicons-heroicons\/eye-dropper:before {
  content: '\e99d';
}
.dashicons-heroicons\/eye-slash:before {
  content: '\e99e';
}
.dashicons-heroicons\/eye:before {
  content: '\e99f';
}
.dashicons-heroicons\/face-frown:before {
  content: '\e9a0';
}
.dashicons-heroicons\/face-smile:before {
  content: '\e9a1';
}
.dashicons-heroicons\/film:before {
  content: '\e9a2';
}
.dashicons-heroicons\/finger-print:before {
  content: '\e9a3';
}
.dashicons-heroicons\/fire:before {
  content: '\e9a4';
}
.dashicons-heroicons\/flag:before {
  content: '\e9a5';
}
.dashicons-heroicons\/folder-arrow-down:before {
  content: '\e9a6';
}
.dashicons-heroicons\/folder-minus:before {
  content: '\e9a7';
}
.dashicons-heroicons\/folder-open:before {
  content: '\e9a8';
}
.dashicons-heroicons\/folder-plus:before {
  content: '\e9a9';
}
.dashicons-heroicons\/folder:before {
  content: '\e9aa';
}
.dashicons-heroicons\/forward:before {
  content: '\e9ab';
}
.dashicons-heroicons\/funnel:before {
  content: '\e9ac';
}
.dashicons-heroicons\/gif:before {
  content: '\e9ad';
}
.dashicons-heroicons\/gift-top:before {
  content: '\e9ae';
}
.dashicons-heroicons\/gift:before {
  content: '\e9af';
}
.dashicons-heroicons\/globe-alt:before {
  content: '\e9b0';
}
.dashicons-heroicons\/globe-americas:before {
  content: '\e9b1';
}
.dashicons-heroicons\/globe-asia-australia:before {
  content: '\e9b2';
}
.dashicons-heroicons\/globe-europe-africa:before {
  content: '\e9b3';
}
.dashicons-heroicons\/hand-raised:before {
  content: '\e9b4';
}
.dashicons-heroicons\/hand-thumb-down:before {
  content: '\e9b5';
}
.dashicons-heroicons\/hand-thumb-up:before {
  content: '\e9b6';
}
.dashicons-heroicons\/hashtag:before {
  content: '\e9b7';
}
.dashicons-heroicons\/heart:before {
  content: '\e9b8';
}
.dashicons-heroicons\/home-modern:before {
  content: '\e9b9';
}
.dashicons-heroicons\/home:before {
  content: '\e9ba';
}
.dashicons-heroicons\/identification:before {
  content: '\e9bb';
}
.dashicons-heroicons\/inbox-arrow-down:before {
  content: '\e9bc';
}
.dashicons-heroicons\/inbox-stack:before {
  content: '\e9bd';
}
.dashicons-heroicons\/inbox:before {
  content: '\e9be';
}
.dashicons-heroicons\/information-circle:before {
  content: '\e9bf';
}
.dashicons-heroicons\/key:before {
  content: '\e9c0';
}
.dashicons-heroicons\/language:before {
  content: '\e9c1';
}
.dashicons-heroicons\/lifebuoy:before {
  content: '\e9c2';
}
.dashicons-heroicons\/light-bulb:before {
  content: '\e9c3';
}
.dashicons-heroicons\/link:before {
  content: '\e9c4';
}
.dashicons-heroicons\/list-bullet:before {
  content: '\e9c5';
}
.dashicons-heroicons\/lock-closed:before {
  content: '\e9c6';
}
.dashicons-heroicons\/lock-open:before {
  content: '\e9c7';
}
.dashicons-heroicons\/magnifying-glass-circle:before {
  content: '\e9c8';
}
.dashicons-heroicons\/magnifying-glass-minus:before {
  content: '\e9c9';
}
.dashicons-heroicons\/magnifying-glass-plus:before {
  content: '\e9ca';
}
.dashicons-heroicons\/magnifying-glass:before {
  content: '\e9cb';
}
.dashicons-heroicons\/map-pin:before {
  content: '\e9cc';
}
.dashicons-heroicons\/map:before {
  content: '\e9cd';
}
.dashicons-heroicons\/megaphone:before {
  content: '\e9ce';
}
.dashicons-heroicons\/microphone:before {
  content: '\e9cf';
}
.dashicons-heroicons\/minus-circle:before {
  content: '\e9d0';
}
.dashicons-heroicons\/minus-small:before {
  content: '\e9d1';
}
.dashicons-heroicons\/minus:before {
  content: '\e9d2';
}
.dashicons-heroicons\/moon:before {
  content: '\e9d3';
}
.dashicons-heroicons\/musical-note:before {
  content: '\e9d4';
}
.dashicons-heroicons\/newspaper:before {
  content: '\e9d5';
}
.dashicons-heroicons\/no-symbol:before {
  content: '\e9d6';
}
.dashicons-heroicons\/paint-brush:before {
  content: '\e9d7';
}
.dashicons-heroicons\/paper-airplane:before {
  content: '\e9d8';
}
.dashicons-heroicons\/paper-clip:before {
  content: '\e9d9';
}
.dashicons-heroicons\/pause-circle:before {
  content: '\e9da';
}
.dashicons-heroicons\/pause:before {
  content: '\e9db';
}
.dashicons-heroicons\/pencil-square:before {
  content: '\e9dc';
}
.dashicons-heroicons\/pencil:before {
  content: '\e9dd';
}
.dashicons-heroicons\/phone-arrow-down-left:before {
  content: '\e9de';
}
.dashicons-heroicons\/phone-arrow-up-right:before {
  content: '\e9df';
}
.dashicons-heroicons\/phone-x-mark:before {
  content: '\e9e0';
}
.dashicons-heroicons\/phone:before {
  content: '\e9e1';
}
.dashicons-heroicons\/photo:before {
  content: '\e9e2';
}
.dashicons-heroicons\/play-circle:before {
  content: '\e9e3';
}
.dashicons-heroicons\/play-pause:before {
  content: '\e9e4';
}
.dashicons-heroicons\/play:before {
  content: '\e9e5';
}
.dashicons-heroicons\/plus-circle:before {
  content: '\e9e6';
}
.dashicons-heroicons\/plus-small:before {
  content: '\e9e7';
}
.dashicons-heroicons\/plus:before {
  content: '\e9e8';
}
.dashicons-heroicons\/power:before {
  content: '\e9e9';
}
.dashicons-heroicons\/presentation-chart-bar:before {
  content: '\e9ea';
}
.dashicons-heroicons\/presentation-chart-line:before {
  content: '\e9eb';
}
.dashicons-heroicons\/printer:before {
  content: '\e9ec';
}
.dashicons-heroicons\/puzzle-piece:before {
  content: '\e9ed';
}
.dashicons-heroicons\/qr-code:before {
  content: '\e9ee';
}
.dashicons-heroicons\/question-mark-circle:before {
  content: '\e9ef';
}
.dashicons-heroicons\/queue-list:before {
  content: '\e9f0';
}
.dashicons-heroicons\/radio:before {
  content: '\e9f1';
}
.dashicons-heroicons\/receipt-percent:before {
  content: '\e9f2';
}
.dashicons-heroicons\/receipt-refund:before {
  content: '\e9f3';
}
.dashicons-heroicons\/rectangle-group:before {
  content: '\e9f4';
}
.dashicons-heroicons\/rectangle-stack:before {
  content: '\e9f5';
}
.dashicons-heroicons\/rocket-launch:before {
  content: '\e9f6';
}
.dashicons-heroicons\/rss:before {
  content: '\e9f7';
}
.dashicons-heroicons\/scale:before {
  content: '\e9f8';
}
.dashicons-heroicons\/scissors:before {
  content: '\e9f9';
}
.dashicons-heroicons\/server-stack:before {
  content: '\e9fa';
}
.dashicons-heroicons\/server:before {
  content: '\e9fb';
}
.dashicons-heroicons\/share:before {
  content: '\e9fc';
}
.dashicons-heroicons\/shield-check:before {
  content: '\e9fd';
}
.dashicons-heroicons\/shield-exclamation:before {
  content: '\e9fe';
}
.dashicons-heroicons\/shopping-bag:before {
  content: '\e9ff';
}
.dashicons-heroicons\/shopping-cart:before {
  content: '\ea00';
}
.dashicons-heroicons\/signal-slash:before {
  content: '\ea01';
}
.dashicons-heroicons\/signal:before {
  content: '\ea02';
}
.dashicons-heroicons\/sparkles:before {
  content: '\ea03';
}
.dashicons-heroicons\/speaker-wave:before {
  content: '\ea04';
}
.dashicons-heroicons\/speaker-x-mark:before {
  content: '\ea05';
}
.dashicons-heroicons\/square-2-stack:before {
  content: '\ea06';
}
.dashicons-heroicons\/square-3-stack-3d:before {
  content: '\ea07';
}
.dashicons-heroicons\/squares-2x2:before {
  content: '\ea08';
}
.dashicons-heroicons\/squares-plus:before {
  content: '\ea09';
}
.dashicons-heroicons\/star:before {
  content: '\ea0a';
}
.dashicons-heroicons\/stop-circle:before {
  content: '\ea0b';
}
.dashicons-heroicons\/stop:before {
  content: '\ea0c';
}
.dashicons-heroicons\/sun:before {
  content: '\ea0d';
}
.dashicons-heroicons\/swatch:before {
  content: '\ea0e';
}
.dashicons-heroicons\/table-cells:before {
  content: '\ea0f';
}
.dashicons-heroicons\/tag:before {
  content: '\ea10';
}
.dashicons-heroicons\/ticket:before {
  content: '\ea11';
}
.dashicons-heroicons\/trash:before {
  content: '\ea12';
}
.dashicons-heroicons\/trophy:before {
  content: '\ea13';
}
.dashicons-heroicons\/truck:before {
  content: '\ea14';
}
.dashicons-heroicons\/tv:before {
  content: '\ea15';
}
.dashicons-heroicons\/user-circle:before {
  content: '\ea16';
}
.dashicons-heroicons\/user-group:before {
  content: '\ea17';
}
.dashicons-heroicons\/user-minus:before {
  content: '\ea18';
}
.dashicons-heroicons\/user-plus:before {
  content: '\ea19';
}
.dashicons-heroicons\/user:before {
  content: '\ea1a';
}
.dashicons-heroicons\/users:before {
  content: '\ea1b';
}
.dashicons-heroicons\/variable:before {
  content: '\ea1c';
}
.dashicons-heroicons\/video-camera-slash:before {
  content: '\ea1d';
}
.dashicons-heroicons\/video-camera:before {
  content: '\ea1e';
}
.dashicons-heroicons\/view-columns:before {
  content: '\ea1f';
}
.dashicons-heroicons\/viewfinder-circle:before {
  content: '\ea20';
}
.dashicons-heroicons\/wallet:before {
  content: '\ea21';
}
.dashicons-heroicons\/wifi:before {
  content: '\ea22';
}
.dashicons-heroicons\/window:before {
  content: '\ea23';
}
.dashicons-heroicons\/wrench-screwdriver:before {
  content: '\ea24';
}
.dashicons-heroicons\/wrench:before {
  content: '\ea25';
}
.dashicons-heroicons\/x-circle:before {
  content: '\ea26';
}
.dashicons-heroicons\/x-mark:before {
  content: '\ea27';
}
